1. Import the necessary libraries

In [2]:
import pandas as pd 
import numpy as np

2. Import the dataset chipotle.tsv

3. Assign it to a variable called chipo

In [3]:
chipo = pd.read_csv('chipotle.tsv', sep="\t")

4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [5]:
chipo.shape

(4622, 5)

In [6]:
chipo.shape[0]

4622

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

6. What is the number of columns in the dataset?

In [8]:
chipo.shape[1]

5

7. Print the name of all the columns

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

9. Which was the most-ordered item?

In [11]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [12]:
chipo.describe(include='object')

           item_name choice_description item_price
count           4622               3376       4622
unique            50               1043         78
top     Chicken Bowl        [Diet Coke]     $8.75
freq             726                134        730

In [13]:
chipo.describe(include='all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [14]:
most_order = chipo[['item_name','order_id','quantity']].groupby('item_name').sum()
most_order

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [15]:
most_order.sort_values('quantity', ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

11. What was the most ordered item in the choice_description column?

In [16]:
most_order = chipo[['choice_description','order_id','quantity']].groupby('choice_description').sum()
most_order.sort_values('quantity', ascending = False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [17]:
most_order2

NameError: name 'most_order2' is not defined

12. How many items were orderd in total?

In [18]:
chipo['quantity'].sum()

np.int64(4972)

13. Turn the item price into a float

a. Check the item price type

In [19]:
print(chipo['item_price'].dtype)

object

b. Create a lambda function and change the type of item price

In [20]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:]))

In [21]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [42]:
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

c. Check the item price type

In [26]:
print(chipo['item_price'].dtype)

float64

14. How much was the revenue for the period in the dataset?

In [32]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
total_revenue = chipo['revenue'].sum()

In [33]:
total_revenue

np.float64(39237.02)

15. How many orders were made in the period?

1834

In [30]:
orders = chipo["order_id"].nunique()

In [31]:
orders

1834

16. What is the average revenue amount per order?

          quantity  item_price
order_id
1              1.0    2.890000
2              2.0   16.980000
3              1.0    6.335000
4              1.0   10.500000
5              1.0    6.850000
...            ...         ...
1830           1.0   11.500000
1831           1.0    4.300000
1832           1.0    6.600000
1833           1.0   11.750000
1834           1.0    9.583333

[1834 rows x 2 columns]

In [56]:
chipo

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [40]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

In [34]:
revenue_per_order = chipo.groupby('order_id')['revenue'].sum()

average_revenue_per_order = revenue_per_order.mean()
print(average_revenue_per_order)

21.39423118865867

17. How many different items are sold?

In [35]:
items_sold = chipo['item_name'].nunique()
items_sold

50

50

18. How many products cost more than $10.00?

In [38]:
expensive_items = chipo[chipo['item_price'] > 10.00]

products = expensive_items['item_name'].nunique()
products

31

31

19. What is the price of each item?

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
3363                          Chicken Salad        8.49
3471                           Veggie Salad        8.49
3502                            Steak Salad        8.69
3749                    Carnitas Salad Bowl       11.89
3750                         Carnitas Salad        8.99

[228 rows x 2 columns]

(50, 1)

                                       item_price
item_name
6 Pack Soft Drink                           12.98
Barbacoa Bowl                               11.75
Barbacoa Burrito                            11.75
Barbacoa Crispy Tacos                       18.50
Barbacoa Salad Bowl                         11.89
Barbacoa Soft Tacos                         11.75
Bottled Water                               15.00
Bowl                                        22.20
Burrito                                      7.40
Canned Soda                                  4.36
Canned Soft Drink                            5.00
Carnitas Bowl                               35.25
Carnitas Burrito                            18.50
Carnitas Crispy Tacos                       17.98
Carnitas Salad                               8.99
Carnitas Salad Bowl                         11.89
Carnitas Soft Tacos                         11.75
Chicken Bowl                                32.94
Chicken Burrito                             35.00
Chicken Crispy Tacos                        17.50
Chicken Salad                               10.98
Chicken Salad Bowl                          22.50
Chicken Soft Tacos                          21.96
Chips                                        6.45
Chips and Fresh Tomato Salsa                44.25
Chips and Guacamole                         17.80
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           5.90
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Green Chili Salsa        5.90
Chips and Tomatillo Red Chili Salsa          5.90
Chips and Tomatillo-Green Chili Salsa        4.78
Chips and Tomatillo-Red Chili Salsa          7.17
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             6.78
Salad                                        7.40
Side of Chips                               13.52
Steak Bowl                                  26.07
Steak Burrito                               27.75
Steak Crispy Tacos                          17.98
Steak Salad                                  8.99
Steak Salad Bowl                            23.78
Steak Soft Tacos                            18.50
Veggie Bowl                                 16.98
Veggie Burrito                              33.75
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                           11.25
Veggie Soft Tacos                           16.98

20. Sort by the name of the item

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

In [40]:
sorted_chipo = chipo.sort_values(by='item_name')
print(sorted_chipo[['item_name', 'quantity', 'item_price']].head(10))

              item_name  quantity  item_price
3389  6 Pack Soft Drink         2       12.98
341   6 Pack Soft Drink         1        6.49
1849  6 Pack Soft Drink         1        6.49
1860  6 Pack Soft Drink         1        6.49
2713  6 Pack Soft Drink         1        6.49
3422  6 Pack Soft Drink         1        6.49
553   6 Pack Soft Drink         1        6.49
1916  6 Pack Soft Drink         1        6.49
1922  6 Pack Soft Drink         1        6.49
1937  6 Pack Soft Drink         1        6.49

21. What was the quantity of the most expensive item ordered?

In [41]:
if 'revenue' not in chipo.columns:
    chipo['revenue'] = chipo['quantity'] * chipo['item_price']

most_expensive_row = chipo.loc[chipo['item_price'].idxmax()]

chipo.loc[[chipo['item_price'].idxmax()]]

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

22. How many times was a Veggie Salad Bowl ordered?

In [42]:
count = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]
count

18

23. How many times did someone order more than one Canned Soda?

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
revenue               20
dtype: int64

In [43]:
filtered_table = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
print(filtered_table.to_string(index=True))

      order_id  quantity    item_name choice_description  item_price  revenue
18           9         2  Canned Soda           [Sprite]        2.18     4.36
51          23         2  Canned Soda     [Mountain Dew]        2.18     4.36
162         73         2  Canned Soda        [Diet Coke]        2.18     4.36
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18     4.36
350        150         2  Canned Soda        [Diet Coke]        2.18     4.36
352        151         2  Canned Soda        [Coca Cola]        2.18     4.36
698        287         2  Canned Soda        [Coca Cola]        2.18     4.36
700        288         2  Canned Soda        [Coca Cola]        2.18     4.36
909        376         2  Canned Soda     [Mountain Dew]        2.18     4.36
1091       450         2  Canned Soda       [Dr. Pepper]        2.18     4.36
1092       450         2  Canned Soda        [Coca Cola]        2.18     4.36
1944       787         2  Canned Soda       [Dr. Pepper]        2.18     4.36
2135       859         2  Canned Soda        [Diet Coke]        2.18     4.36
2235       901         4  Canned Soda           [Sprite]        4.36    17.44
2905      1156         2  Canned Soda        [Coca Cola]        2.18     4.36
2906      1156         2  Canned Soda           [Sprite]        2.18     4.36
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18     4.36
3364      1349         2  Canned Soda        [Coca Cola]        2.18     4.36
3592      1440         2  Canned Soda        [Diet Coke]        2.18     4.36
3866      1550         2  Canned Soda     [Mountain Dew]        2.18     4.36

In [44]:
count = filtered_table.shape[0]
count

20